/* Font for h1 header (Phone details) */
h1.ft-table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px; 
}

/* Font for table header cells (Phone, Capacity, etc.) */
table th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}

/* Font for table text */
table {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
}

/* Styles for rows with blue background */
.phones-bg {
    background-color: #3372b2;
}

/* styles for rows with light blue background */
.bg-blue {
    background-color: #63a2e197;
}
/* Styles for rows with white background */

.bg-white {
    background-color: #FFFFFF; 
}
/* fuision table */
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

/* control the size of the three images */
.phone {
    width: 100%; 
    height: auto; 
    max-width: 200px; 
}

.phone-v2 {
    width: 100%; 
    height: auto;
    max-width: 100px; 
}

/* table border about the grid */
table th, table td {
    border: 3px solid rgb(113, 153, 240);
    padding: 15px;
}
